Repository juftin/camply: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, uv-lock, prettier

ruff-format:
  name: format
  description: Runs Code Auto-Formatters
  entry: uv run ruff format
  language: system

ruff-check:
  name: lint
  description: Runs Code Linters
  entry: uv run ruff check --fix
  language: system

uv-lock:
  name: uv-lock
  description: Runs uv lock when pyproject.toml changes
  entry: uv lock
  language: system
  pass_filenames: false

prettier:
  name: prettier
  description: Runs Prettier Code Formatter
  entry: prettier --write --ignore-unknown
  args:
  - --tab-width=4
  language: node
  additional_dependencies:
  - prettier@3.6.2

🐛 ReserveCalifornia using TylerTechnolgies
  camply/providers/usedirect/usedirect.py
  camply/providers/usedirect/variations.py
Due: ruff-format, ruff-check, prettier

🐛 ReserveCalifornia using TylerTechnolgies
  camply/containers/usedirect.py
  camply/providers/usedirect/variations.py
  tests/cli/cassettes/test_list_campsites_reservecalifornia.yaml
  tests/cli/cassettes/test_multiple_search_windows_reservecalifornia.yaml
  tests/cli/cassettes/test_search_by_campsites_reservecalifornia.yaml
  tests/cli/cassettes/test_search_by_yaml_reservecalifornia.yaml
  tests/cli/cassettes/test_search_once_pushover.yaml
  tests/search_providers/cassettes/test_rc_cli_campgrounds.yaml
  tests/search_providers/cassettes/test_rc_cli_campgrounds_env_var.yaml
  tests/search_providers/cassettes/test_rc_cli_campsites.yaml
  tests/search_providers/cassettes/test_rc_cli_campsites_nights.yaml
  tests/search_providers/cassettes/test_rc_cli_recreation_areas.yaml
  tests/search_providers/cassettes/test_rc_get_campsites.yaml
  tests/search_providers/cassettes/test_rc_get_metadata.yaml
  tests/search_providers/cassettes/test_rc_search_campgrounds.yaml
  tests/search_providers/cassettes/test_rc_search_campgrounds_no_api.yaml
  tests/search_providers/cassettes/test_rc_search_recreation_area.yaml
Due: ruff-format, ruff-check, prettier

🐛 Fix GoingToCamp KeyError when listing campgrounds
  camply/containers/gtc_api_responses.py
  camply/providers/going_to_camp/going_to_camp_provider.py
Due: ruff-format, ruff-check, prettier

✨ python 3.14
  .github/workflows/test.yaml
  Taskfile.yaml
  pyproject.toml
  uv.lock
Due: uv-lock, prettier

✨ python 3.14
  .github/workflows/test.yaml
Due: prettier

✨ python 3.14
  uv.lock
Due: prettier

🐛 virginia state parks - tylerapp
  camply/providers/usedirect/variations.py
  tests/cli/usedirect/cassettes/test_virginia_state_parks_campgrounds.yaml
  tests/cli/usedirect/cassettes/test_virginia_state_parks_campsites.yaml
  tests/cli/usedirect/cassettes/test_virginia_state_parks_recreation_areas.yaml
Due: ruff-format, ruff-check, prettier

🐛 Handle locked campsites in UseDirect/ReserveCalifornia provider
  camply/containers/usedirect.py
  camply/providers/usedirect/usedirect.py
Due: ruff-format, ruff-check, prettier

Fix GoingToCamp provider KeyError and broken site details endpoint
  camply/containers/gtc_api_responses.py
  camply/providers/going_to_camp/going_to_camp_provider.py
Due: ruff-format, ruff-check, prettier

feat: initialize spec-kit commands and templates
  .gemini/commands/speckit.analyze.toml
  .gemini/commands/speckit.checklist.toml
  .gemini/commands/speckit.clarify.toml
  .gemini/commands/speckit.constitution.toml
  .gemini/commands/speckit.implement.toml
  .gemini/commands/speckit.plan.toml
  .gemini/commands/speckit.specify.toml
  .gemini/commands/speckit.tasks.toml
  .gemini/commands/speckit.taskstoissues.toml
  .specify/memory/constitution.md
  .specify/scripts/bash/check-prerequisites.sh
  .specify/scripts/bash/common.sh
  .specify/scripts/bash/create-new-feature.sh
  .specify/scripts/bash/setup-plan.sh
  .specify/scripts/bash/update-agent-context.sh
  .specify/templates/agent-file-template.md
  .specify/templates/checklist-template.md
  .specify/templates/constitution-template.md
  .specify/templates/plan-template.md
  .specify/templates/spec-template.md
  .specify/templates/tasks-template.md
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  docs/CHECKLIST.md
  docs/DESIGN_AGENTIC.md
  docs/DESIGN_API.md
  docs/DESIGN_DATA.md
  docs/DESIGN_PROVIDERS.md
  docs/PLAN.md
Due: prettier

docs: establish project roadmap and feature checklist
  docs/CHECKLIST.md
  docs/PLAN.md
Due: prettier

docs: finalize technical design blueprints for core architecture
  docs/ARCHITECTURE_DEEP_DIVE.md
  docs/DESIGN_DATA.md
  docs/DESIGN_FRONTEND.md
  docs/DESIGN_NOTIFICATIONS.md
  docs/DESIGN_PROVIDERS.md
Due: prettier

docs: establish developer onboarding and agentic development environment
  docs/AGENT_TROUBLESHOOTING.md
  docs/CONFIGURATION.md
  docs/DESIGN_AGENTIC.md
  docs/DEVELOPER_GUIDE.md
  docs/STYLE_GUIDE.md
Due: prettier

chore: rename project to camply and update infrastructure for Valkey
  .gitignore
  backend/docker-compose.yaml
Due: prettier

docs: finalize agent portal and project constitution
  AGENTS.md
Due: prettier

🏗️ docs: finalize technical design blueprints for core architecture
  docs/agents/ARCHITECTURE_DEEP_DIVE.md
  docs/agents/DESIGN_API.md
  docs/agents/DESIGN_DATA.md
  docs/agents/DESIGN_FRONTEND.md
  docs/agents/DESIGN_NOTIFICATIONS.md
  docs/agents/DESIGN_PROVIDERS.md
Due: prettier

✨ feat: initialize spec-kit commands and templates
  .gemini/commands/speckit.analyze.toml
  .gemini/commands/speckit.checklist.toml
  .gemini/commands/speckit.clarify.toml
  .gemini/commands/speckit.constitution.toml
  .gemini/commands/speckit.implement.toml
  .gemini/commands/speckit.plan.toml
  .gemini/commands/speckit.specify.toml
  .gemini/commands/speckit.tasks.toml
  .gemini/commands/speckit.taskstoissues.toml
  .specify/memory/constitution.md
  .specify/scripts/bash/check-prerequisites.sh
  .specify/scripts/bash/common.sh
  .specify/scripts/bash/create-new-feature.sh
  .specify/scripts/bash/setup-plan.sh
  .specify/scripts/bash/update-agent-context.sh
  .specify/templates/agent-file-template.md
  .specify/templates/checklist-template.md
  .specify/templates/constitution-template.md
  .specify/templates/plan-template.md
  .specify/templates/spec-template.md
  .specify/templates/tasks-template.md
Due: prettier

📝 docs: establish project roadmap and feature checklist
  docs/agents/CHECKLIST.md
  docs/agents/PLAN.md
Due: prettier

📜 docs: finalize agent portal and symlinks
  AGENTS.md
  CLAUDE.md
  GEMINI.md
Due: prettier

🚚 chore: rename project to camply and update base configuration
  .gitignore
  backend/pyproject.toml
  frontend/package.json
  frontend/src/pages/PrivacyPolicy.tsx
Due: uv-lock, prettier

🚀 docs: establish developer onboarding and agentic development environment
  docs/agents/AGENT_TROUBLESHOOTING.md
  docs/agents/CONFIGURATION.md
  docs/agents/DESIGN_AGENTIC.md
  docs/agents/DEVELOPER_GUIDE.md
  docs/agents/STYLE_GUIDE.md
Due: prettier

🚚 chore: revert package names to camply-backend and camply-frontend
  backend/pyproject.toml
  frontend/package.json
Due: uv-lock, prettier

Add attribute_filters support for GoingToCamp provider
  camply/containers/search_model.py
  camply/providers/going_to_camp/going_to_camp_provider.py
  camply/search/search_going_to_camp.py
  camply/utils/yaml_utils.py
Due: ruff-format, ruff-check, prettier

Add multi-YAML and multi-document YAML support for camply campsites
  camply/cli.py
  camply/utils/yaml_utils.py
  docs/command_line_usage.md
  tests/cli/test_campsites.py
  tests/yaml/multi_document.yaml
  tests/yaml/yosemite_search.yaml
Due: ruff-format, ruff-check, prettier

fix style and update VCR cassette for new RC URLs
  camply/providers/usedirect/usedirect.py
  tests/cli/cassettes/test_search_once_pushover.yaml
Due: ruff-format, ruff-check, prettier

ci(test): skip coverage comment on fork PRs
  .github/workflows/test.yaml
Due: prettier

👷 skip coverage comment on fork PRs
  .github/workflows/test.yaml
Due: prettier

🐛 filter walk-in / non-web-bookable campsites by default (UseDirect)
  camply/cli.py
  camply/providers/usedirect/usedirect.py
  camply/search/search_usedirect.py
Due: ruff-format, ruff-check, prettier

build: add geopy dependency for geocoding support
  pyproject.toml
Due: uv-lock, prettier

feat: populate RecreationArea and CampgroundFacility coordinates in UseDirect providers
  camply/providers/usedirect/usedirect.py
Due: ruff-format, ruff-check, prettier

feat: add excluded_campsite_types filtering to BaseCampingSearch
  camply/search/base_search.py
Due: ruff-format, ruff-check, prettier

feat: add geo_utils with haversine distance and Nominatim geocoding
  camply/utils/geo_utils.py
  tests/utils/__init__.py
  tests/utils/test_geo_utils.py
Due: ruff-format, ruff-check, prettier

feat: allow RecreationDotGov find_campgrounds to accept geo lat/lon/radius kwargs
  camply/providers/recreation_dot_gov/recdotgov_provider.py
Due: ruff-format, ruff-check, prettier

feat: show distance in geo search results; fix exclude-type filter; comma list support
  camply/cli.py
  camply/containers/api_responses.py
  camply/containers/data_containers.py
  camply/providers/recreation_dot_gov/recdotgov_provider.py
  camply/search/base_search.py
  camply/search/search_geo.py
Due: ruff-format, ruff-check, prettier

test: add tests for SearchGeo and excluded_campsite_types filtering
  tests/search_providers/test_geo_search.py
Due: ruff-format, ruff-check, prettier

feat: add --near/--latitude/--longitude/--radius/--exclude-type to campsites command
  camply/cli.py
Due: ruff-format, ruff-check, prettier

fix: skip UseDirect providers whose metadata endpoint is unavailable
  camply/search/search_geo.py
Due: ruff-format, ruff-check, prettier

fix: correct isort order for SearchGeo import; fix CamplyError f-string in usedirect
  camply/providers/usedirect/usedirect.py
  camply/search/__init__.py
Due: ruff-format, ruff-check, prettier

feat: add near/latitude/longitude/radius/excluded_campsite_types to YAML config
  camply/containers/search_model.py
  camply/utils/yaml_utils.py
Due: ruff-format, ruff-check, prettier

feat: add SearchGeo multi-provider geo-based campsite search orchestrator
  camply/search/__init__.py
  camply/search/search_geo.py
Due: ruff-format, ruff-check, prettier

Path conditions:
  ruff-format: any of: \.py$, but not: (?x)(
  docs/yaml_search.json
)

  ruff-check: any of: \.py$, but not: (?x)(
  docs/yaml_search.json
)

  uv-lock: any of: pyproject.toml, but not: (?x)(
  docs/yaml_search.json
)

  prettier: any of: not ((?x)(
  docs/cli.md|
  PULL_REQUEST_TEMPLATE.md|
  .github/semantic_release/release_notes.hbs
)
), but not: (?x)(
  docs/yaml_search.json
)

